/* ---------------------------------------------------------------*/
/* global --------------------------------------------------------*/
/* ---------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, body {
    margin: 0;
}

html {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
    color: #21243D;
}

body {
    max-width: 1152px;
    margin: 0 auto;
    background-color: white;
}

.container {
    width: 75%; /*--- 2*(148) / 1152 ---*/
    display: flex;
    margin: 0 auto; 
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* ---------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/* Home page -----------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* header */
header {
    min-height: 150px;
    display: flex;
}

header .container {
    width: 100%;
    justify-content: right;
}

header a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    text-decoration: none;
    color: inherit;
}

header a:hover, .current {
    color: #FF6464;
}

header .home {
    color: white;
}

header nav {
    display: flex;
    margin-top: 20px;
    margin-right: 65px;
    gap: 40px;
}

/* get to know */
.get-to-know {
    min-height: 400px;
}

.get-to-know .info {
    padding-top: 50px;
}

.get-to-know h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}

.get-to-know p {
    width: 80%;
    margin-top: 20px;
}

.get-to-know  .img-effect {
    padding-top: 48px;
}

.get-to-know .img-background {
    width: 243px;
    height: 243px;
    border-radius: 50%;    
    background-color: #edf7fa;
}

.get-to-know img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    position: absolute;
    top: 185px;
}

.get-to-know button {
    background: #FF6464;
    border-radius: 2px;
    border-style: none;
    color: white;
    padding: 0.5rem 1rem;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    margin-top: 15px;
}

/* recent posts */
.recent-posts {
    min-height: 396px;
    background-color: #edf7fa;
}

.recent {
    background-color: white;
    width: 44%; /*--- 418 - 2*(22) ---*/
    /* height: 295px; */
    padding: 22px;
    flex-wrap: wrap;
}

.recent h3 {
    width: 374px;
    height: 85px;

    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}

.recent-posts .view-all {
    color: #4aa5c8;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

.recent-posts .header {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;

    margin: 0;
}

.recent-posts .container {
    flex-direction: column;
}

.recent-posts .recent-bar {
    display: flex;
    justify-content: space-between;

    margin-top: 7px;
}

.recent-posts .recent-content {
    display: flex;
    justify-content: space-between;
    /* height: 295px; */
    flex-wrap: wrap;
}

.recent-posts .recent-time {
    display: flex;
    gap: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.recent-posts .detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* featured work */
.featured-work {
    min-height: 870px;
}

.featured-work .container {
    /* min-height: 870px; */
    flex-direction: column;
}

.featured-work .featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    margin: 31px 0 0 0;
    border-bottom: 1px solid #E0E0E0;
}

.featured-work .header {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;

    margin: 0;
}

.featured-work img {
    width: 246px;
    height: 195px; /*--- 180 +15 padding ---*/
    border-radius: 6px;
    margin-right: 18px;
}

.featured-work .featured-detail {
    display: flex;
    flex-direction: column;
    width: 594px;
    gap: 16px;
}

.featured-work .topic {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}

.featured-work .sub-topic {
    display: flex;
    gap: 20px;
}

.featured-work .year {
    background: #142850;
    border-radius: 16px;

    font-weight: 900;
    font-size: 18px;
    /* line-height: 60px; */

    color: #FFFFFF;
    margin: 0;
    padding: 0 10px;
}

.featured-work .category {
    font-weight: 400;
    font-size: 20px;
    /* line-height: 29px; */

    color: #8695A4;
    margin: 0;
}

.featured-work .detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin: 0;
}

/* footer */
footer{
    min-height: 182px;
}

footer .container {
    flex-direction: column;
    align-items: center;
}

footer .icon {
    display: flex;
    margin-top: 134px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 35px;
}

footer .icon-pic {
    width: 30px;
    height: 30px;
    margin: 0;
}

footer .copy-right {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
    text-align: center;
    margin-bottom: 54px;
}
/* ---------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/* Blog page -----------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* main */
.blog-main .container {
    flex-direction: column;
    width: 60%;
    max-width: 681px;
}

.blog-main h1 {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 44px;
    /* line-height: 60px; */
}

.blog {
    display: flex;
    flex-direction: column;
    padding-bottom: 29px;
    margin-top: 32px;
    border-bottom: 1px solid #E0E0E0;;
    gap: 15px;
}

.blog-main h3 {
    font-weight: 500;
    font-size: 30px;
    /* line-height: 44px; */
}

.blog .blog-time {
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 29px; */
}

.blog p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* ---------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/* Work Page -----------------------------------------------------*/
/* ---------------------------------------------------------------*/
.featured-work .header-work-page {
    font-weight: 900;
    font-size: 44px;
    /* line-height: 60px; */
}
/* ---------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/* Responsive ----------------------------------------------------*/
/* ---------------------------------------------------------------*/
@media (max-width: 1100px) {
    .container {
        width: 95%;
    }

    .blog-main .container {
        width: 95%;
        margin: 0, 18px;
    }

    .featured-work .featured {
        flex-direction: column;
        align-items: center;
    }

    .featured-work .featured-img {
        width: 80%;
        height: auto;
    }
    
    .get-to-know .container {
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }

    .recent {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .blog-main h1 {
        font-weight: 700;
        font-size: 30px;
        /* line-height: 60px; */
    }    
    .blog-main h3 {
        font-weight: 500;
        font-size: 26px;
        /* line-height: 38px; */
    }    
    .blog .blog-time {
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
    }    
    .blog p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .featured-work .header-work-page {
        font-weight: 700;
        font-size: 30px;
        /* line-height: 60px; */
    }
    .featured-work .topic {
        font-weight: 700;
        font-size: 24px;
        /* line-height: 30px; */
    }
    .featured-work .year {
        font-weight: 900;
        font-size: 16px;
        /* line-height: 60px; */
    }
    .featured-work .category {
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
    }

    .featured-work .featured-detail, .featured-work .featured-img {
        width: 100%;
    }

    .get-to-know .container {
        align-items: center;
    }
    .get-to-know .info {
        justify-content: center;
        text-align: center;
    }
    .get-to-know p {
        width: 100%;
    }
}

@media (max-width: 600px) {

}
/* ---------------------------------------------------------------*/